#NodesList .table-filter .input-group input {
    width: 350px;
}

#table-actions {
    margin-right: 10px;
    margin-left: -10px;
}

#DataTables_Table_0 th:nth-child(4) {
    max-width: 350px;
}

.box-clear {
    background: none;
    border-top: none;
    box-shadow: none;
}

.sync-time {
    color: #999;
    float: right;
    padding: 10px;
    font-size: 12px;
    position: relative;
    bottom: 10px;
    right: 10px;
}

.sync-time > i.syncing {
    color: #00A65A;
}

.badge.remove {
    cursor: pointer;
    margin-top: -20px;
    margin-right: -20px;
    position: relative;
    visibility: hidden;
}

.metadata:hover .badge.remove, .badge.remove:hover {
    visibility: visible;
}

span.selection > .select2-selection.select2-selection--single {
    height: 34px;
}

.popover.big-popover {
    min-width: 800px;
}