<div class="input-group-btn btn-group-sm">
  <button aria-expanded="true" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Actions
    <span style="margin-left: 2px;" class="fa fa-caret-down"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#" name="aUpdateNode">Update Version</a></li>
    <li><a href="#" name="aAddTags">Update Tags</a></li>
  </ul>
</div>