<div class="box-header with-border">
  <h3 class="box-title">Commands</h3>
</div>
<div class="box-body">
  <table class="table table-striped">
    <tbody>
    <%
    function commandStatus(status) {
      status = status || 'none';
      var statusIcons = {
        'pending': {
          icon: 'fa-clock-o', color: 'text-primary'
        },
        'error': {
          icon: 'fa-remove', color: 'text-danger'
        },
        'success': {
          icon: 'fa-check', color: 'text-success'
        },
        'skipped': {
          icon: 'fa-circle-o', color: 'text-primary'
        },
        'none': {
          icon: '', color: 'text-muted'
        }
      };
      return '<div><i class="fa ' + statusIcons[status].icon + ' '  + statusIcons[status].color + '" style="font-size:20px;" aria-hidden="true"></i></div>';
    }


    for (var index = 0; index < commands.length; index++) {
        var command = commands[index];
    %>
      <tr>
        <td><%- commandStatus(command.status) %></td>
        <td><%= command.type %></td>
        <td><%= command.action %></td>
      </tr>
    <% } %>
    </tbody>
  </table>
</div>

