<div class="box-body">
  <div class="row">
    <div class="col-md-3">
      <%- commands %>
    </div>
    <div class="col-md-3">
      <%- currentState %>
    </div>
    <div class="col-md-3">
      <%- plannedState %>
    </div>
  </div>
</div>
