<div class="box-header">
  <h3 class="box-title">Commands</h3>
</div>
<div class="box-body">
  <table class="table table-condensed">
    <tbody>
    <%
    function commandStatus(status) {
      status = status || 'none';
      var statusIcons = {
        'pending': {
          icon: 'fa-spinner fa-spin', color: 'text-blue'
        },
        'error': {
          icon: 'fa-remove-circle', color: 'text-red'
        },
        'success': {
          icon: 'fa-check-circle', color: 'text-green'
        },
        'skipped': {
          icon: 'fa-circle-o', color: 'text-aqua'
        },
        'none': {
          icon: '', color: 'text-muted'
        }
      };
      return '<span><i class="pull-left fa ' + statusIcons[status].icon + ' '  + statusIcons[status].color + '" style="line-height:26px; font-size:20px;" ></i></span>';
    }


    for (var index = 0; index < commands.length; index++) {
        var command = commands[index];
    %>
      <tr>
        <td>
          <%- commandStatus(command.status) %>
          <a class="pull-left" href="#" title="Details" data-toggle="tooltip"><%= command.type %> <%= command.action %></a></td>
      </tr>
    <% } %>
    </tbody>
  </table>
</div>

