<div class="box-header">
  <h3 class="box-title">&nbsp;</h3>
  <div class="box-tools pull-right">
    <button type="button" id="moduleListAddButton" class="btn btn-small btn-default" data-toggle="tooltip" title="Add"><i class="fa fa-plus"></i></button>
  </div>
</div>
<div class="box-body">
  <table class="table table-striped">
    <tbody>
    <% for (var index = 0; index < modules.length; index++ ){
        var module = modules[index];
    %>
    <tr>
      <td><input name="btSelectItemModules" type="radio" <%= selectedIndex === index ? 'checked' : ''%>/></td>
      <td><%= module.name %></td>
      <td><%= module.version %></td>
      <td><a href="#" data-index="<%= index %>" name="RemoveModule" data-toggle="tooltip" data-placement="top" title="Remove"
             ><i class="glyphicon glyphicon-remove"></i></a></td>
    </tr>
    <% } %>
    </tbody>
  </table>
</div>
