<div>
  <section class="content-header" >
    <h1>
      Modules
      <small></small>
    </h1>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-md-4">
        <%- modulesList %>
      </div>
      <div class="col-md-8">
        <%- moduleDetails %>
      </div>
    </div>
  </section>
  <%- addModuleDialog %>
</div>
