<div class="box-header">
  <h3 class="box-title">&nbsp;</h3>
  <div class="box-tools pull-right">
    <button type="button" id="moduleListAddButton" class="btn btn-small btn-default" data-toggle="tooltip" title="Add"><i class="fa fa-plus"></i></button>
  </div>
</div>
<div class="box-body">
  <div class="row">
    <div class="col-md-6">
      <%- moduleNames %>
    </div>
    <div class="col-md-6">
      <%- moduleVersions %>
    </div>
  </div>
</div>
