<div class="input-group-btn pull-left">
    <button class="btn btn-sm btn-default " data-id="<%= id %>" name="btRemoveNode" data-toggle="tooltip" data-placement="top" title="Remove">
        <i class="fa fa-remove"></i>
    </button>
</div>