<div class="box-body">
  <table class="table table-condensed table-hover" width="100%">
    <thead>
    <tr>
      <th><input name="checkAllNodes" type="checkbox"/></th>
      <th><i style="cursor: pointer;" title="Toggle filter for nodes that have not synced for a day" class="filter-problems fa fa-warning text-<%- problemsOnly ? 'yellow' : 'gray' %>"></i></th>
      <th>Name</th>
      <th>Tags</th>
      <th>Status</th>
      <th>Id</th>
      <th>Platform</th>
      <th>Agent Version</th>
      <th>Last Seen</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>