<div class="box-body">
  <table class="table table-condensed table-hover" width="100%">
    <thead>
    <tr>
      <th><input name="checkAllNodes" type="checkbox"/></th>
      <th></th>
      <th>Name</th>
      <th>Tags</th>
      <th>Id</th>
      <th>Platform</th>
      <th>Agent Version</th>
      <th>Last Seen</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>