<label for="modulesStateFile">Upload a modules json</label>
<input id="modulesStateFile" type="file" style="margin-bottom: 10px;">

<div class="pull-right" style="margin-bottom: 5px;">
    <%- clipboard %>
    <%- download %>
</div>
<%- modulesStateText %>
