<div class="form-group <%- hasError ? 'has-error' : '' %>">
    <form>
        <label for="TextArea-dialog-data"><%- hasError ? 'Invalid json' : 'Raw modules' %></label>
        <textarea readonly="true" class="form-control" id="TextArea-dialog-data" style="cursor: not-allowed; resize: none; height: 100px; background: #EEEEEE"><%- data && JSON.stringify(data) || '' %></textarea>
    </form>
</div>