<div class="form-group <%- hasError ? 'has-error' : '' %>">
    <form>
        <label for="TextArea-dialog-data"><%- hasError ? 'Invalid json' : 'Edit Modules as json' %></label>
        <textarea class="form-control" id="TextArea-dialog-data" style="resize: none; height: 256px; background: #EEEEEE"><%- data && JSON.stringify(data) || '' %></textarea>
    </form>
</div>