<form>
  <label for="<%= dialogId + '-data'%>">Module JSON</label>
  <textarea class="form-control" id="<%= dialogId + '-data'%>" style="resize: none; height: 512px; background: #EEEEEE"></textarea>
</form>
