<div id="nodeModule">
  <h4>Name</h4>
  <select class="form-control" id="nodeModuleName">
  </select>

  <h4>Version</h4>
  <select class="form-control" id="nodeModuleVersion">
  </select>

  <div id="nodeModuleSettings">
    <h4>State</h4>
    <div class="checkbox">
      <label>
        <input id="nodeModuleStarted" type="checkbox"> Started
      </label>
    </div>
    <h4>Configuration <div class="pull-right" style="margin-top: 5px;"><small><span id="nodeConfigurationErrors" class="label label-danger"></span></small></div></h4>
    <div id="nodeModuleConfigurationDiv">
      <form id="nodeModuleConfiguration" style="max-height: 50%; overflow: auto" class="jsform-section"></form>
    </div>
  </div>

</div>
