<div class="skin-blue sidebar-mini">
  <div class="wrapper">
    <%- navigation %>
    <%- sidebar %>
    <div class="content-wrapper">
      <%- content %>
    </div>
    <%- footer %>
  </div>
</div>