<button type="button" id="<%- id %>-btn" class="btn btn-small btn-default" data-toggle="tooltip" title="<%- title || 'Copy '%>" data-clipboard-target="<%- target || '' %>">
    <i class="fa fa-copy"></i>
</button>