<aside class="control-sidebar control-sidebar-dark ">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
        <li class=""><a aria-expanded="false" href="#control-sidebar-theme-demo-options-tab" data-toggle="tab"><i class="fa fa-wrench"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <!-- Settings tab content -->
        <div class="tab-pane active" id="control-sidebar-settings-tab">
            <form method="post">
                <h3 class="control-sidebar-heading">General Settings</h3>
                <div class="form-group">
                    <label class="control-sidebar-subheading">
                        Nodes Sync
                        <input id="nodeSyncEnabled" class="pull-right" checked="" type="checkbox">
                    </label>
                    <p>
                        Enable nodes table auto sync
                    </p>

                    <br/>
                    <label class="control-sidebar-subheading">
                        Nodes Sync Interval
                        <input id="nodesRefreshRate" class="form-control pull-right" type="text" style="width: 4em; font-size: 14px; font-weight: 400;" maxlength="3">
                    </label>
                    <br/>
                    <p>
                        Nodes table auto sync in seconds
                    </p>
                </div>
            </form>
        </div>
        <!-- /.tab-pane -->
    </div>
</aside>
<div style="position: fixed; height: auto;" class="control-sidebar-bg"></div>