<button type="button" id="<%- id %>-btn" class="btn btn-small btn-default" data-toggle="tooltip" title="<%- title || 'Download' %>">
    <i class="fa fa-download"></i>
</button>
<a id="<%- id %>-a" download="<%- fileName %>" style="display: none;"></a>