<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> <%= version %>
    </div>
    <strong>Fortitude server for <a href="<%- url %>" target="_blank"> <%= linkText %></a></strong>
</footer>